# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
dist/
build/

# Qt
*.qmlc
*.jsc

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# IDE
.idea/